.navbar {
    width: 200px;
    height: 100vh;
    position: fixed;
    background-color: #6dc0f7;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar h2 {
    text-align: center;
}

.navbar ul {
    display: flex !important;
    flex-flow:row wrap;
    flex-basis: auto;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto !important;
    margin-right: 1rem !important;
    list-style: none;
}

.navbar ul li {
    margin: 20px 0;
    border-left: solid rgb(0, 0, 0) 2px;
}

.navbar ul li a {
    color: #4e515798;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 3rem;
    text-decoration: none;
    padding-top: .3rem;
    padding-bottom: .3rem;
    margin-bottom: 0 !important;
    margin-right: 1rem;
    font-size: 1.25rem;
    text-decoration: none;
    white-space: nowrap;
}